<div>
    <h1>2020-02-25</h1>
    <h2>pg@8.0 release</h2>
    <p>pg@8.0 is being released which contains a handful of breaking changes.</p>
    <p>I will outline each breaking change here and try to give some historical context on them. Most of them are small
        and
        subtle and likely wont impact you; however, there is one larger breaking change you will likely run into:
        Support all tls.connect options being passed to the client/pool constructor under the ssl option.</p>

    <p>Previously we white listed the parameters passed here and did slight massaging of some of them. The main breaking
        change here is that now if you do this:
    </p>

    <p>This makes pg a bit more secure "out of the box" while still enabling you to opt in to the old behavior.
    </p>
    <p>The rest of the changes are relatively minor & you likely wont need to do anything, but good to be aware none the
        less!
    </p>
    <h2>change default database name</h2>
    <h2>修改默认数据库名称</h2>
    <p>If a database name is not specified, available in the environment at PGDATABASE, or available at pg.defaults, we
        used
        to use the username of the process user as the name of the database. Now we will use the user property supplied
        to
        the client as the database name, if it exists. What this means is this:
    </p>
    <p>如果没有指定数据库名称, 就会使用 PGDATABASE 环境变量中或pg.defaults中的名称, 我们常常使用应用程序的名称作为数据库名称, 那么我们就使用客户端用户的属性作为数据库名称
         ,如果存在, 就会发生以下行为:
    </p>
    <p>pg@7.x will default the database name to the process user. pg@8.x will use the user property supplied to the
        client.
    </p>
    <p>pg@7.x 会把程序名称定为默认数据库名称. pg@8.x 会使用客户端提供的用户属性作为默认数据库名称.
    </p>
    <p>If you have not supplied user to the client, and it isn't available through any of its existing lookup
        mechanisms
        (environment variables, pg.defaults) then it will still use the process user for the database name.
        drop support for versions of node older than 8.0
    </p>
    <p>如果你尚未向客户端提供用户名, 
        and it isn't available through any of its existing lookup  mechanisms
        (environment variables, pg.defaults) then it will still use the process user for the database name.
        drop support for versions of node older than 8.0
    </p>
    <p>Node@6.0 has been out of LTS for quite some time now, and I've removed it from our test matrix. pg@8.0 may still
        work
        on older versions of node, but it isn't a goal of the project anymore. Node@8.0 is actually no longer in the LTS
        support line, but pg will continue to test against and support 8.0 until there is a compelling reason to drop
        support for it. Any security vulnerability issues which come up I will back-port fixes to the pg@7.x line and do
        a
        release, but any other fixes or improvments will not be back ported.
        prevent password from being logged accidentally
    </p>
    <p>pg@8.0 makes the password field on the pool and client non-enumerable. This means when you do console.log(client)
        you
        wont have your database password printed out unintenionally. You can still do console.log(client.password) if
        you
        really want to see it!
    </p>
    <p>make pg.native non-enumerable
    </p>
    <p>You can use pg.native.Client to access the native client. The first time you access the pg.native getter it
        imports
        the native bindings...which must be installed. In some cases (such as webpacking the pg code for lambda
        deployment)
        the .native property would be traversed and trigger an import of the native bindings as a side-effect. Making
        this
        property non-enumerable will fix this issue. An easy fix, but its technically a breaking change in cases where
        people are relying on this side effect for any reason.
    </p>
    <p>make pg.Pool an es6 class
    </p>
    <p>This makes extending pg.Pool possible. Previously it was not a "proper" es6 class and class MyPool extends
        pg.Pool wouldn't work.
    </p>
    <p>make Notice messages not an instance of a JavaScript error
    </p>
    <p>The code path for parsing notice and error messages from the postgres backend is the same. Previously created a
        JavaScript Error instance for both of these message types. Now, only actual errors from the postgres backend
        will be
        an instance of an Error. The shape and properties of the two messages did not change outside of this.
    </p>
    <h2>monorepo
    </h2>
    <p>While not technically a breaking change for the module itself, I have begun the process of consolidating separate
        repos into the main repo and converted it into a monorepo managed by lerna. This will help me stay on top of
        issues
        better (it was hard to bounce between 3-4 separate repos) and coordinate bug fixes and changes between dependant
        modules.
    </p>
    <p>Thanks for reading that! pg tries to be super pedantic about not breaking backwards-compatibility in non semver
        major
        releases....even for seemingly small things. If you ever notice a breaking change on a semver minor/patch
        release
        please stop by the repo and open an issue!
    </p>
    <p>If you find pg valuable to you or your business please consider supporting it's continued development! Big
        performance improvements, typescript, better docs, query pipelining and more are all in the works!
    </p>

    <h1>2019-07-18</h1>
    <h2>New documentation</h2>

    <p>After a very long time on my todo list I've ported the docs from my old hand-rolled webapp running on route53 +
        elb +
        ec2 + dokku (I know, I went overboard!) to gatsby hosted on netlify which is so much easier to manage. I've
        released
        the code at https://github.com/brianc/node-postgres-docs and invite your contributions! Let's make this
        documentation better together. Any time changes are merged to master on the documentation repo it will
        automatically
        deploy.
    </p>
    <p>If you see an error in the docs, big or small, use the "edit on github" button to edit the page & submit a pull
        request right there. I'll get a new version out ASAP with your changes! If you want to add new pages of
        documentation open an issue if you need guidance, and I'll help you get started.

    </p>
    <p>I want to extend a special thank you to all the supporters and contributors to the project that have helped keep
        me
        going through times of burnout or life "getting in the way." ❤️
    </p>
    <p>It's been quite a journey, and I look forward continuing it for as long as I can provide value to all y'all. 🤠
    </p>
    <h1>2017-08-12</h1>
    <h2>code execution vulnerability</h2>
    <p>Today @sehrope found and reported a code execution vulnerability in node-postgres. This affects all versions from
        pg@2.x through pg@7.1.0.
    </p>
    <p>I have published a fix on the tip of each major version branch of all affected versions as well as a fix on each
        minor version branch of pg@6.x and pg@7.x:
        Fixes
    </p>
    <p>The following versions have been published to npm & contain a patch to fix the vulnerability:
    </p>
    <p>pg@2.11.2
        pg@3.6.4
        pg@4.5.7
        pg@5.2.1
        pg@6.0.5
        pg@6.1.6
        pg@6.2.5
        pg@6.3.3
        pg@6.4.2
        pg@7.0.3
        pg@7.1.2
    </p>
    <h2>Example</h2>
    <p>To demonstrate the issue & see if you are vunerable execute the following in node:
    </p>
    <p>You will see your environment variables printed to your console. An attacker can use this exploit to execute any
        arbitrary node code within your process.
        Impact
    </p>
    <p>This vulnerability likely does not impact you if you are connecting to a database you control and not executing
        user-supplied sql. Still, you should absolutely upgrade to the most recent patch version as soon as possible to
        be
        safe.
    </p>
    <h2>Two attack vectors we quickly thought of:</h2>
    <p>1 - executing unsafe, user-supplied sql which contains a malicious column name like the one above.
    </p>
    <p>2 - connecting to an untrusted database and executing a query which returns results where any of the column
        names are malicious.
    </p>
    <h2>Support</h2>
    <p>I have created an issue you can use to discuss the vulnerability with me or ask questions, and I have reported
        this issue on twitter and directly to Heroku and nodesecurity.io.
    </p>
    <p>I take security very seriously. If you or your company benefit from node-postgres please sponsor my work: this
        type of issue is one of the many things I am responsible for, and I want to be able to continue to tirelessly
        provide
        a world-class PostgreSQL experience in node for years to come.
    </p>
    <p> Previous
        Welcome
        Next
        Connecting
        made withby@briancarlson
    </p>
</div>