/* You can add global styles to this file, and also import other style files */
@use '~@angular/material' as mat;
@use './app-theme';
@use './styles/api';
@use './styles/markdown';
@use './styles/tables';
@use './styles/general';

// Include material core styles.
$_primary: mat.define-palette(mat.$indigo-palette);
$_accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$_theme: mat.define-light-theme($_primary, $_accent);

// Include material core styles.
@include mat.core();

@include mat.all-component-themes($_theme);
@include app-theme.theme($_theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(assets/material-icon.woff2) format('woff2');
  }
  
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
  }
  